<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Leader:</strong>
  <%= @team.leader.name %>
</p>

<p>
  <%= render 'members/member_show',mem:  @members %>
</p>

<% if current_user.project_manager%>
<p>

  <%= link_to 'Add member', new_member_path(team_id: @team.id) %>
</p>

  <%= link_to 'Edit', edit_team_path(@team) %> |
<% end %>
