<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<%if @tasks.empty?%>
    <p>You don't have any task! Congratulation! You have a lot of free time!</p>
<% else %>


<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Type_type</th>
      <th>Pm</th>
      <th>Collaborator</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.status %></td>
        <td><%= task.type_task %></td>
        <td><%= task.pm.name %></td>
        <td><%= task.collaborator.name %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <% if current_user.project_manager%>
          <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%end%>

<br>

<% if current_user.project_manager %>
  <%= link_to 'New Task', new_task_path %>
<% end %>
